@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');


.nav-header{
    position: sticky;
    top: 0; /* 화면 상단에 고정 */
    width: 100%;
    z-index: 1000;
    padding : -8px;
}

.Navbar {
    background-color: black;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
}



.N-highlighted-text {
    color: #ff6347;
}

.NavTitle {
    color: white;
    font-size: 40px;
    font-family: 'Kavoon', cursive;
    margin-bottom: -5px;
    margin-top: -5px;
    margin-left : -50px;
}

.N-invertButton{
    background-color : #ff6347;
    color : white;
    font-size : 20px;
    width : 136px;
    height : 40px;
    border-radius : 20px;
    text-align : center;
    font-family : 'LINE Seed Sans KR';
    margin-right : 9px;
    Justify-content : center;
    padding-top : 5px;
}

.N-myPageButton{
    background-color : #2A2A2A;
    color : white;
    font-size : 20px;
    width : 136px;
    height : 40px;
    border-radius : 20px;
    text-align : center;
    font-family : 'LINE Seed Sans KR';
    margin-left : 9px;
    margin-right : -50px;
    Justify-content : center;
    padding-top : 5px;
}

/* invertButton hover 효과 */
.N-invertButton:hover {
    background-color: #ff9d8b; /* 마우스를 올렸을 때 배경색 변경 */
    color: black; /* 텍스트 색상 변경 */
}

/* loginButton hover 효과 */
.N-myPageButton:hover {
    background-color: #555; /* 마우스를 올렸을 때 배경색 변경 */
    color: black; /* 텍스트 색상 변경 */
}